
section{
    margin-top: 45px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
.img1{
    width: 100%;
}
.video-preview{
    margin-right: 8px;
    margin-bottom: 17px;
    background-color: ;
}
.thambnile{
    position: relative;
}
.time{
    position: absolute;
    bottom: 0px;
    right: 2px;
    background-color: black;
    color: white;
    font-size: 7px;
    margin-bottom: 8px;
    margin-right: 3px;
    padding: 1px 3px 1px 3px ;
}
.profile-pic{
    height: 18px;
    border-radius: 12px;
}
.chanel{
    display:grid;
    grid-template-columns: 22px 1fr;
   
}
.video-info{
    font-size: 7px;
    margin-top: 2px;
    font-weight: 500;
}
.cname{
    margin-bottom: 0px;
    font-size: 7px;
    color: rgb(129, 127, 127);
    font-weight: 400;
}
.views-count{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(129, 127, 127);
    font-weight: 400;
}
@media(max-width:600px){
    section{
        position: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (max-width:350px){
    section{
        position: grid;
        grid-template-columns: 1fr 1fr;
    }
}